<% title "发布新主意 - 用户" %>
<div class="row">
  <div class="span8 offset2">
    <%= errors_msg_tag @idea %>
    <%= form_for(@idea,:html=>{:class=>"form-horizontal"}) do |f| %>
      <fieldset>
        <legend>发布主意</legend>
	    <div class="control-group">
	      <%= f.label :title,:class=>"control-label" %>
	      <div class="controls">
            <%= f.text_field :title,:class=>"input-xlarge",:id=>"idea-title-promotion" %>
	      </div>
	    </div>
	    <div class="control-group">
	      <%= f.label :description,:class=>"control-label" %>
	      <div class="controls">
	        <%= f.text_area :description,:class=>"input-xlarge",:rows=>"8" %>
            <p class="help-block"><%= t('app.info.content_tip')%></p>
          </div>
        </div>
	    <div class="control-group">
	      <%= f.label :tag_names,:class=>"control-label" %>
	      <div class="controls">
            <%= f.text_field :tag_names, :class => "input-xlarge" %>
            <p class="help-block">空格间隔，最多3个</p>
          </div>
        </div>
	    <div class="control-group">
	      <%= f.label :topic,:class=>"control-label" %>
	      <div class="controls">
            <%= collection_select(:idea, :topic_id, Topic.all, :id, :name) %>
          </div>
        </div>
	    <div class="form-actions">
          <%= f.submit "发布",:class => "btn btn-large btn-primary",:disable_with => "发布中..." %>
	    </div>
      </fieldset>
    <% end %>
  </div>
</div>
