<% title "收件箱 - 用户" %>
<div class="row">
  <div class="span10 offset1">
    <div class="page-header">
      <h1>消息</h1>
    </div>
    <% unless @messages.blank? %>
    <div class="row">
      <div class="span10">
        <table class="table table-bordered table-condensed" id="messages-table">
          <% @messages.each do |message| %>
            <tr>
		      <td class="checkbox">
                <label class="checkbox inline">
                  <%= check_box_tag "message_checkbox", message.id ,false %>
                </label>
			  </td>
              <td><%= message_link_tag message %></td>
            </tr>
          <% end %>
        </table>
        <div>
          <a href="javascript:;" class="btn" id="message-check-all">全选</a>
          <a href="javascript:;" class="btn" id="message-uncheck-all">不选</a>
          <a href="javascript:;" class="btn" id="message-mark-read">标记为已读</a>
          <a href="javascript:;" class="btn" id="message-delete">删除</a>
          <%= form_tag update_multiple_messages_path,:method=>:put,:id=>"message-mark-read-form",:style=>"display:none" do %>
            <%= hidden_field_tag "message_ids" %>
          <% end %>
          <%= form_tag delete_multiple_messages_path,:method=>:delete,:id=>"message-delete-form",:style=>"display:none" do %>
            <%= hidden_field_tag "message_ids" %>
          <% end %>
        </div>
        <hr> 
        <%= will_paginate @messages,:class => "pagination pagination-right",:id=>"messages-pagination" %>
      </div>
    </div>
    <% else %>
    <p style="text-align:center">抱歉，没有结果。</p>
    <% end %>
  </div>
</div>
