<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to root_path,:class=>"brand" do %>
        <%= image_tag @site.icon.url(:small),:class => "site_logo" %>
        <%= @site.name %>
      <% end %>
      <% if user_signed_in? %>
        <ul class="nav pull-right">
          <li id="inbox"><%= link_to message_span_tag(current_user.messages.where(:readed => false).count),'#',"data-original-title"=>"站内消息","data-placement"=>"bottom",:rel=>"tooltip"%></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%=link_to '修改个人资料',edit_user_path(current_user) %></li>
              <li><%=link_to '修改邮箱或密码',edit_user_registration_path %></li>
              <li class="divider"></li>
              <li><%= link_to "注销",destroy_user_session_path,:method => :delete %></li>
            </ul>
          </li>
        </ul>
        <div class="btn-group pull-right">
          <%= link_to new_idea_path,:class=>"btn btn-warning" do %><i class="icon-bullhorn icon-white"></i>&nbsp;发布新主意<% end %>
        </div>
      <% else %>
        <ul class="nav pull-right">
          <li><%= link_to "登录", new_session_path(User) %></li>
          <li><%= link_to "注册", new_registration_path(User) %></li>
        </ul>
        <div class="btn-group pull-right">
          <a href="javascript:;" data-toggle="modal" data-target="#modal-login" class="btn btn-warning"><i class="icon-bullhorn icon-white"></i>&nbsp;发布新主意</a>
        </div>
      <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="modal hide fade in" id="modal-login">
  <%= form_for(User.new,:url => user_session_path,:html=>{:style=>"margin:0"}) do |f| %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>登录</h3>
  </div>
  <div class="modal-body" id="modal-body-login">
    <div class="row">
      <div class="span5 offset1">
	    <%= f.label :login %>
        <%= f.text_field :login,:class=>"span4"%>
	    <%= f.label :password %>
        <%= f.password_field :password,:class=>"span4" %>
        <p class="help-block">
          <%= link_to  new_registration_path(User) do %>
            还没有账号？<span class="highlight">欢迎注册</span>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="javascript:;" class="btn" data-dismiss="modal">关闭</a>
    <%= f.submit "登录",:class => "btn btn-primary",:disable_with => "登录..." %>
  </div>
  <% end %>
</div>
